[package]
name = "tachyon"
version = "0.0.8"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi           = { version = "3", features = ["async", "serde-json"] }
napi-derive    = "3.0.0"

[build-dependencies]
napi-build = "2"